body {
    width:100%;
    height:100%;
    background-color:red;
}
*{margin: 0;padding: 0;}

.head {
    position:inherit;
    background-color:#4e59ce;
    height:70px;
}

#leftdiv {
    position:absolute;
    background:#7aadda;
    top:70px;
    width:300px;
    bottom:0px;
}

#rightdiv {
    position:absolute;
    background:#93cae2;
    top:70px;
    left:300px;
    right:0px;
    bottom:0px;
}